.tb{
	display: table;
	width: 100%;
	color: #8B9EE5;
    background: #fff;
    border: 1px solid #DDEBFD;
    border-collapse: collapse;
	border-spacing: 0;
	td {
	    font-size: 14px;
	    text-align: center;
	}
	thead {
		tr {
		    border-bottom: 1px solid #DDEBFD;
		    background: #FAFBFF;
		}
		td {
		    height: 50px;
		    line-height: 48px;
		    color: #3B54B0;
		    font-weight: 700;
		    text-align: center;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #EDF5FF;
		}
		td {
		    padding: 20px 0;
		    line-height: 20px;
		}
	}
}
